* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-y: auto;
  padding-bottom: 75px; /* Add padding to account for footer height */
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 75px; /* Add padding to main content to prevent footer overlap */
}

.header {
  background-color: #436953;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.sticky-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.header h1 {
  color: azure;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  font-size: 80px;
  text-align: center;
  margin-right: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  border: 2px solid #e6d7df;
  padding: 9px 0;
  z-index: 3;
  display: flex;
  justify-content: space-around;
}

.topnav a {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  flex: 1;
}

.topnav a:hover {
  background-color: #ddd;
  border-radius: 10px;
  color: black;
}

.tree-img {
  width: 50px;
  flex-shrink: 0;
}

#city-info {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px;
  border-radius: 10px;
}

.uniform-image {
  width: 49%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}


aside {
  background-color: rgba(67, 105, 83, 0.8);
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 2px solid #0a0808;
}

th, td {
  border: 1px solid hsl(0, 8%, 3%);
  padding: 8px;

  text-align: left;
}

th {
  background-color: #436953;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #333;
  color: white;
  text-align: center;
  z-index: 1000;
}

.contact-btn {
  display: inline-block;
  background-color: #436953;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 19px 50px;
  border-radius: 10px;
  margin-top: 8px;
  transition: background-color 0.3s;
}

.contact-btn:hover {
  background-color: #365644;
}



@media (max-width: 950px) {
  .header h1 {
    font-size: 40px;
  }
  
  table {
    font-size: 14px;
  }
  
  .topnav a {
    font-size: 18px;
    padding: 10px;
  }
  
  
  .uniform-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .history-title, .history-box, .did-you-know-box {
    font-size: 16px;
    padding: 15px;
  }
}