* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

.header {
  background-color: #436953;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.sticky-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.header h1 {
  color: azure;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
  font-size: 80px;
  text-align: center;
  margin-right: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    border: 2px solid #e6d7df;
    padding: 9px 0;
    z-index: 3;
    display: flex;
    justify-content: space-around;
  }

.topnav a {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    flex: 1;
  }

.topnav a:hover {
  background-color: #ddd;
  border-radius: 10px;
  color: black;
}

.tree-img {
  width: 50px;
  flex-shrink: 0;
}
.image-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 75px);
  z-index: 1;
}

.oregon-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
}

.history-title {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.history-box {
  width: 100%;
  max-height: 300px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.did-you-know-box {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
  overflow-y: auto;
}

.did-you-know-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #333;
  color: white;
  text-align: center;
  z-index: 1000;
}

.contact-btn {
  display: inline-block;
  background-color: #436953;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 19px 50px;
  border-radius: 10px;
  margin-top: 8px;
  transition: background-color 0.3s;
}

.contact-btn:hover {
  background-color: #365644;
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #436953;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #365644;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 40px;
  }

  .topnav a {
    font-size: 18px;
    padding: 10px;
  }

  .content-container {
    top: 120px;
  }

  .history-title, .history-box, .did-you-know-box {
    font-size: 16px;
    padding: 15px;
  }
}